<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appointment List</title>
    <style>
      table {
        width: 80%;
        margin: 20px auto;
        border-collapse: collapse;
      }

      th,
      td {
        padding: 12px;
        text-align: left;
        border: 1px solid #ddd;
      }

      th {
        background-color: #f2f2f2;
      }

      h2 {
        text-align: center;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <h2>Booked Appointments</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Query</th>
          <th>Phone</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <% appointments.forEach(appointment => { %>
        <tr>
          <td><%= appointment.name %></td>
          <td><%= appointment.email %></td>
          <td><%= appointment.query %></td>
          <td><%= appointment.phone %></td>
          <td><%= appointment.message %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
